.customer-table{
  width:100%;
  border-collapse:collapse;
  margin-top:20px;
  background:rgb(30, 19, 19);
}

.customer-table th,
.customer-table td{
  border:1px solid #905858;
  padding:10px;
  text-align:left;
}

.customer-table th{
  background:#060c11;
}

.customer-table tr:hover{
  background:#f9fafb;
}

/* button feature */

.add-btn{
  background:#2563eb;
  color:white;
  padding:10px 16px;
  border:none;
  border-radius:6px;
  cursor:pointer;
  margin-top:10px;
}

.add-btn:hover{
  background:#1d4ed8;
}

.customer-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

/* delete button */
.delete-btn{
background:#dc2626;
color:white;
border:none;
padding:6px 10px;
border-radius:5px;
cursor:pointer;
}

.delete-btn:hover{
background:#b91c1c;
}   

