.dashEdit{
      background-color: #371111;
    margin-top: 80px;
    margin-left: 230px;
    margin-right: 50px;
    margin-bottom: 50px;
    border-radius: 50px;
  padding: 40px;
  width: 90%;
  max-width: 400px; 
  
  text-align: center;
}

