.bala{
margin-left: 250px;
width:70%;
border-collapse:collapse;
background:rgb(28, 61, 102);
margin-top: 30px;
box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

th{
background:#2c3e50;
color:white;
padding:12px;
text-align:left;
}

td{
padding:10px;
border-bottom:1px solid #eee;
}

tr:hover{
background:#f5f7fa;
}


.status{
padding:5px 10px;
border-radius:5px;
font-size:12px;
color:white;
}

.unpaid{
background:#e74c3c;
}

.partial{
background:#f39c12;
}

.paid{
background:#2ecc71;
}

button{
padding:8px 14px;
border:none;
border-radius:5px;
cursor:pointer;
}

.create-btn{
background:#3498db;
color:white;
}

.pay-btn{
background:#27ae60;
color:white;
}

button:hover{
opacity:0.9;
}